*.dll
.DS_Store
*.dylib
*.fs~
*.out
**/bin
**/obj
**/out
/Image.Tests/coverage-report
/test/image18
/test/mask18
/test/result18
/test/image30
/test/mask30
/test/result30
/test/image24
/test/mask24
/test/result24
/test/image24

/test/tmp

.fake
/samples/image18
/samples/chunks18
/samples/image18b
/samples/result18
/samples/transpose/tmp
samples/transpose/test0.tiff
samples/transpose/test1.tiff
/samples/result18012
/samples/result18021
/samples/result18102
/samples/result18120
/samples/result18201
/samples/result18210
*.json
!/samples/*/*.json
/samples/connectedComponents/tmp
/samples/mask18
/samples/tmp
/samples/image24
/samples/output18
/samples/affineKeypointRegistration/-d/moving
/samples/affineKeypointRegistration/-d/movingChunks
/samples/affineKeypointRegistration/-d
/samples/affineKeypointRegistration18/moving
/samples/affineKeypointRegistration18/movingChunks
/samples/affineKeypointRegistration18/original
/samples/affineKeypointRegistration18/originalChunks
/samples/affineKeypointRegistration18/restored
/samples/momentsThreshold/-d
/samples/objectsImage/-d
/samples/objectsImage18
/samples/otsuThreshold/-d
/samples/removeSmallObjects/-d
/samples/resample/-d
/samples/resize/-d
/samples/signedDistanceBand/-d
/samples/sumProjection/-d
/samples/momentsThreshold18
/samples/otsuThreshold18
/samples/removeSmallObjects18
/samples/resample18
/samples/resize18
/samples/signedDistanceBand18
/samples/sumProjection18
samples/volume/volumedata.tif
/samples/volume/volumedata
samples/data/volumedata.tif
samples/serial/volumedata.tif
/samples/serialBiasCorrect/volumedata
samples/serialBiasCorrect/volumedata.tif
samples/serialTransform/volumedata.tif
/samples/serialTransform/volumedata
