*.dll
.DS_Store
*.dylib
*.fs~
*.out
**/bin
**/obj
**/out
/Image.Tests/coverage-report
/test/tmp
/tmp
.fake

/samples/tmp
/samples/data
*.tif
*.tiff
*.mha
/samples/resampleAffineTrilinearSlices/tmp
/samples/resampleAffine/tmp
